
/*------------------------------------------------------------------

- // TABLE OF CONTENTS // -

========================================================================
 

 # Landing Page
 ===============================================
 1) Default CSS

*/
/* ========================================= */
/*          Default CSS        */
/* ========================================= */

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Poppins:700&amp;display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; 
}
.slicknav_arrow {
  float: right;
}
ol, ul {list-style: none; }

:focus {outline: 0; }

.clear {clear: both; line-height: 0; font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; 
}
.clearfix:after .test {color: red; }

.clearfix {display: inline-block; }

* html .clearfix {height: 1%; }

.clearfix {display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #ffffff;
  font-family: Verdana,sans-serif;
  overflow-x: hidden; 
  color: #384252;
}


h1,h2,h3,h4,h5,h6{
  margin-bottom: 20px;
  color: #2a2f52;
  font-family: 'Poppins', sans-serif;
  margin-top:0;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px; 
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

hr {border: 0.5px solid #444444; }

p {
  font-weight: 300;
  line-height:1.6;
  margin-bottom: 20px;
  color: #5d5c5c;
  font-size: 15px; 
}

ul {margin: 0; padding: 0; }

ul li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 24px;
  color: #384252;
  padding-left: 40px;
  position: relative;
}


ol {margin: 0; counter-reset: i; position: relative; }

ol li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 24px;
  color: #181d31;
  padding-left: 40px;
  position: relative; 
}

a {color: #333a65;}

a:hover {
  text-decoration: none !important;
  color: #ffac00;
  transition: all 0.4s ease; 
}

input[type=text],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
input[type=tel],
textarea,
select,
textarea#comment {
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #eceaea;
  border-radius:5px;
  padding: 10px 25px;
  width: 100%;
  color: #444444;
  margin-bottom: 15px; 
  font-family: 'Roboto', sans-serif;
  height: 42px;
  box-shadow: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
  border-color: #ffac00;
  transition: all 0.5s ease; 
}

/*select {padding: 12px 25px; }*/

textarea {border-radius: 8px; resize: vertical; }

label {
    display: inline-block;
    color: #666;
    margin-bottom: 12px;
    font-weight: 500;
}

img {max-width: 100%; }

blockquote {
  font-size: 14px;
  font-weight: 300;
  background-color: #FAF8F8;
  margin-bottom: 15px;
  border-left: 4px solid #00418c;
  padding: 30px 70px 30px 70px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 20px;
  font-style: italic;
  position: relative; 
}

blockquote:before {
  content: '\f10d';
  font-family: fontawesome;
  font-size: 45px;
  position: absolute;
  top: 26px;
  left: 20px;
  color: #666;
  opacity: 0.1; 
}

blockquote span {position: relative; padding-left: 20px; }

blockquote span:before {
  content: '';
  width: 12px;
  height: 1px;
  background: #ffac00;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
}


/*margin none*/

.mar-0{margin:0 }

/*margin top*/

.mar-top-0{margin-top:0px}

.mar-top-10{margin-top:10px}

.mar-top-15{margin-top:15px}

.mar-top-20{margin-top:20px}

.mar-top-25{margin-top:25px}

.mar-top-30{margin-top:30px}

.mar-top-40{margin-top:40px}

.mar-top-50{margin-top:50px}

.mar-top-60{margin-top:60px}

.mar-top-70{margin-top:70px}

.mar-top-80{margin-top:80px}

/*margin bottom*/

.mar-bottom-0{margin-bottom:0px}

.mar-bottom-10{margin-bottom:10px}

.mar-bottom-15{margin-bottom:15px}

.mar-bottom-20{margin-bottom:20px}

.mar-bottom-25{margin-bottom:25px}

.mar-bottom-30{margin-bottom:30px}

.mar-bottom-40{margin-bottom:40px}

.mar-bottom-50{margin-bottom:50px}

.mar-bottom-60{margin-bottom:60px}

.mar-bottom-70{margin-bottom:70px}

.mar-bottom-80{margin-bottom:80px}


/*padding*/

.pad-0{padding: 0!important;}

.pad-top-0{padding-top:0px}

.pad-top-10{padding-top:10px}

.pad-top-15{padding-top:15px}

.pad-top-20{padding-top:20px}

.pad-top-25{padding-top:25px}

.pad-top-30{padding-top:30px}

.pad-top-40{padding-top:40px}

.pad-top-50{padding-top:50px}

.pad-top-60{padding-top:60px}

.pad-top-70{padding-top:70px}

.pad-top-80{padding-top:80px}


.pad-bottom-10{padding-bottom:10px}

.pad-bottom-15{padding-bottom:15px}

.pad-bottom-20{padding-bottom:20px}

.pad-bottom-25{padding-bottom:25px}

.pad-bottom-30{padding-bottom:30px}

.pad-bottom-40{padding-bottom:40px}

.pad-bottom-50{padding-bottom:50px}

.pad-bottom-60{padding-bottom:60px}

.pad-bottom-70{padding-bottom:70px}

.pad-bottom-80{padding-bottom:80px}

/*color*/
.white{color: #fff!important;}

.line-height{line-height: 1.5;}

.text-uppercase{text-transform: uppercase;}

section{ padding:30px; position: relative; overflow: hidden;}


/*heading title*/

.section_heading{margin:0 0 6rem; text-align: center; }

.section_title{margin-bottom: 15px;}

p.heading_txt{margin-bottom: 0;}

.mt_heading{padding: 0;}

.mt_heading.headmain{padding: 0 25% 0 0;}

.mt_heading h2{text-transform: capitalize; font-size: 38px;}

.mt_heading h2 span{position: relative;}

.mt_heading h2 span:before {
  content: ""; 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: -10px; 
  margin: 0 auto; 
  height: 2px; 
  width: 50%; 
  background: -webkit-linear-gradient(-45deg, rgb(255, 173, 4) 40%,rgb(255, 255, 255) 50%,rgb(51, 58, 101) 60%);
  background: -webkit-linear-gradient(-45deg, rgb(255, 173, 4) 40%,rgb(255, 255, 255) 50%,rgb(51, 58, 101) 60%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgb(255, 173, 4) 40%,rgb(255, 255, 255) 50%,rgb(51, 58, 101) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.inner-heading.inner-width{width: 50%;}

.inner-heading{margin-bottom: 4rem; position: relative; z-index: 1;}

.inner-heading h3 {
    position: relative;
    padding-left: 20px;
    font-weight: 300;
    margin-bottom: 10px;
}
.inner-heading h3:before {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #ffac00;
}

.inner-heading h2{margin-bottom: 0;}

.blog-post-image {
  height: 200px;
  overflow: hidden;
}

p.post-excerpt {
  height: 85px;
  line-height: 24px;
  margin-top: 0px!important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  column-count: 3;
}

@media (max-width: 991px){
  .mt_heading.edu_head {text-align: left;}

  .mt_heading.headmain{padding: 0;}

  .section_heading{text-align: center;}

  .mt_heading{padding: 0;}
}


@media (max-width: 767px) {
  .section_heading{text-align: center;}

  .section_heading .button.pull-right{display: none;}

  .mt_heading {padding: 0px; } 

  .heading_txt {width: 100%; } 

  .section_title, .mission-content h2{font-size: 28px;}

  blockquote {padding-right: 20px; }

  .inner-heading h2{font-size: 32px!important;}
}

@media (max-width: 480px) {
  .mt_heading.edu_head{padding: 0;}
}

.mt_btn_yellow, input[type="submit"], .mt_btn_white-bor, .mt_btn_green, .mt_btn_purple{
  position: relative;
  padding: 10px 16px;
  font-size: 15px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
  z-index: 0;
}

.mt_btn_yellow:hover { color: #ffac00;}

.mt_btn_green:hover { color: #78bf4d !important;}

.mt_btn_purple:hover {color: #92278f}

.mt_btn_white-bor { color: #000; }

.mt_btn_yellow:before, input[type="submit"]:before, .mt_btn_white-bor:before, .mt_btn_green:before, .mt_btn_purple:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mt_btn_yellow:before {background-color: rgb(255, 172, 0);}

.mt_btn_purple:before {background-color: #92278f;}

.mt_btn_green:before {background-color: #78bf4d;}

.mt_btn_white-bor:before { background-color: #ffffff; }

.mt_btn_yellow:after, input[type="submit"]:after, .mt_btn_white-bor:after, .mt_btn_green:after, .mt_btn_purple:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid;
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.mt_btn_yellow:after {border-color: rgb(255, 172, 0)}

.mt_btn_purple:after {border-color: #92278f;}

.mt_btn_green:after {border-color: #78bf4d;}

.mt_btn_white-bor:after { border-color: #ffffff; }

.mt_btn_yellow:hover:before, input[type="submit"]:hover:before, .mt_btn_white-bor:hover:before, .mt_btn_green:hover:before, .mt_btn_purple:hover:before {
    opacity: 0;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
}
.mt_btn_yellow:hover:after, input[type="submit"]:hover:after, .mt_btn_white-bor:hover:after, .mt_btn_green:hover:after, .mt_btn_purple:hover:after {
    opacity: 1;
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.education a.mt_btn_white-bor:hover {
    color: #ffffff;
}

.mt_btn_white-edu {
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    background: #ffac00;
    text-decoration: none;
    border: 2px solid #ffac00;
    transition: all 0.5s ease;
}
.mt_btn_white-edu:hover,
.mt_btn_white-edu:focus {
  color: #ffffff !important;
  background: #ffbb2e;
  border-color: #ffbb2e;
  transition: all 0.5s ease;
  text-shadow: initial;
  text-decoration: none; 
}
.mt_btn_white {
  padding: 8px 25px;
  background: #5bad2e;
  font-size: 15px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.mt_btn_white{background: #fff; color: #7b2260;}

.mt_btn_white:hover{opacity: 0.8;}


@media (max-width: 640px) {
  .mt_btn_yellow,
  .mt_btn_yellow,
  input[type="submit"] {font-size: 14px; padding: 10px 19px; } 
}

.title-padding{padding:0 20%; margin-bottom: 0;}

@media only screen and (max-width:991px) {
  .title-padding{padding:0 5%; }
}

.blog_heading_border {position: relative;}

.blog_heading_border:before {
    content: "";
    background: #00418c;
    bottom: -7px;
    display: block;
    height: 2px;
    margin-bottom: 6px;
    position: absolute;
    width: 20%;
}

span strong {
  color: #c50706;
}
.carousel-inner {
  cursor: default;
}